/* 
 * RESET 
 *
 * */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
/* 
 * THESE ARE THE SITE STYLES 
 *
 * */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Padauk', sans-serif;
}

.container {
  max-width: 70rem;
  margin: 3rem auto;
  padding: 0 1.5rem;
}
  @media only screen and (min-width: 70rem) {
    .container {
      padding: 0;
    }
  }

.menu--center {
  display: block;
  position: relative;
  height: 100vh;
  max-width: 768px;
  margin: 0 1rem;
}
  @media only screen and (min-width: 1120px) {
    .menu--center {
      margin: 0 auto;
    }
  }

.menu--top .menu__list {
  display: flex;
  align-items: center;
}

.menu--center .menu__item {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
}

.menu--center .menu__link {
  color: inherit;
  text-decoration: none;
}

.menu--top .menu__link {
  font-size: 0.875rem;
}
  @media only screen and (min-width: 768px) {
    .menu--top .menu__link {
      font-size: 1rem;
    }
  }

.menu--top .menu__item:not(:first-child) .menu__link {
  padding: 0.5rem 0.75rem;
}
  @media only screen and (min-width: 768px) {
    .menu--top .menu__item:not(:first-child) .menu__link {
      display: block;
      padding: 0.5rem 3rem;
    }
  }

.menu__link::after {
  content: ' —';
}

.menu--top .menu__item:first-child .menu__link::after,
.menu--top .menu__item:last-child .menu__link::after 
{
  content: '';
}

.menu--center .menu__item:nth-child(1) {
  border-color: blue;
  color: blue;
}
  @media only screen and (min-width: 375px) {
    .menu--center .menu__item:nth-child(1) {
      top: 5%;
      bottom: 20%; 
      right: 40%;
      left: 0;
    }
  }
  @media only screen and (min-width: 768px) {
    .menu--center .menu__item:nth-child(1) {
      top: 30%;
      bottom: 35%; 
      right: 45%;
      left: 2%;
    }
  }

.menu--top .menu__item:nth-child(1) .menu__link {
  text-decoration: none;
  color: blue;
}

.menu--top .menu__item:nth-child(2) .menu__link {
  margin-left: auto;
  border: 1px solid red;
}

.menu--center .menu__item:nth-child(2) {
  border-color: red;
  color: red;
}
  @media only screen and (min-width: 375px) {
    .menu--center .menu__item:nth-child(2) {
      top: 20%;
      bottom: 10%;
      left: 10%;
      right: 27%;
    }
  }
  @media only screen and (min-width: 768px) {
    .menu--center .menu__item:nth-child(2) {
      top: 20%;
      bottom: 45%;
      left: 45%;
      right: 5%;
    }
  }

.menu--top .menu__item:nth-child(2) {
  margin-left: auto;
}

.menu--top .menu__item:nth-child(2) .menu__link {
  color: red;
  text-decoration: none;
  border: 1px solid red;
}

.menu--top .menu__item:nth-child(3) {
  margin-left: 1rem;
}

.menu--top .menu__item:nth-child(3) .menu__link {
  color: green;
  text-decoration: none;
  border: 1px solid green;
}

.menu--center .menu__item:nth-child(3) {
  border-color: green;
  color: green;
}
  @media only screen and (min-width: 375px) {
    .menu--center .menu__item:nth-child(3) {
      top: 12%;
      bottom: 22%;
      left: 40%;
      right: 5%;
    }
  }
  @media only screen and (min-width: 768px) {
    .menu--center .menu__item:nth-child(3) {
      top: 47%;
      bottom: 17%;
      left: 30%;
      right: 20%;
    }
  }

.menu--center .menu__item:nth-child(4) {
  display: none;
}

.menu--top .menu__item:nth-child(4) {
  margin-left: 1rem;
  display: none;
}
  @media only screen and (min-width: 768px) {
    .menu--top .menu__item:nth-child(4) {
      display: block;
    }
  }

.menu--top .menu__item:nth-child(4) .menu__link {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid blue;
  color: blue;
  text-decoration: none;
}

.main {
  margin-top: 3rem;
  max-width: 75ch;
}

.main img {
  display: block;
  max-width: 100%;
}

.main img:not(:last-child) {
  margin-bottom: 1.5rem;
}

.main p {
  line-height: 1.5;
  margin-bottom: 2.0rem;

}
.main p strong {
  font-weight: 500;
}

.main figure img:not(:last-child){
  margin-bottom:  0.75rem;
}

.main figure figcaption {
  font-size: 0.875rem; 
  font-family: 'Akronim';
  font-family: 'Akronim', cursive;
}